@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #121212 0%, #1e1e1e 100%);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
